### Docker
COMPOSE_PROJECT_NAME=celements-atlas

### Atlas
PROFILE=dev
PORT=8080
LOG_LEVEL=INFO

### MongoDB
MONGODB_DATABASE=atlas
MONGODB_USER=
MONGODB_PASS=

### MongoDB-express
MONGODB_ADMIN_USER=admin
MONGODB_ADMIN_PASS=

